@media print {
    .tm-sidebar, #about, .heading, .blocks, #ideas, .img-contact-us,  #contact{
        display: none;
    }
    .tm-content-box.flex-2-col .tm-section-title {
        color: blue;
    }
    p::first-letter {
        font-size: 30px;
        color: #87CEFA;
    }
    h2 + p {
        font-style: italic;
    }
    .tm-content-box.flex-2-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    img[alt="epam-mexico"] {
        width: 90%;
    }
    .tm-main-content {
        width: 80%;
        margin: auto;
    }
    .tm-team-description-container {
        max-width: 100%;
    }
    .tm-section-description {
        text-indent: 2em;
    }
}
@media screen {
    .box-bg h2:hover {
        background-color: lightblue;
        color: white;
        font-weight: bold;
    }
    p::first-letter {
        font-size: 30px;
        color: #87CEFA;
    }
    .tm-content-box, .tm-sidebar, .blocks {
        box-shadow: 0 0 10px rgba(0,0,0, 1);
    }
    .tm-banner {
        border: 25px solid lightgray;
        padding: 0;
    }
    section {
        position: relative;
    }
    section::after {
        content: ''; 
        position: absolute;
        left: 0; 
        top: 0;
        width: 0;
        height: 0;
        border-top: 30px solid lightblue; 
        border-right: 275px solid transparent;
    }
    .tm-content-box.flex-2-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .carousel-inner .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }
    h2 + p {
        font-style: italic;
    }
    p {
        text-indent: 2em;
        line-height: 1.5;
    }
    .padding-medium ol a:visited {
        text-decoration: underline;
    }
    .padding-medium ol a:hover {
        color: lightblue;
        text-decoration: underline double;
    }
    .padding-medium ol li:first-child::after,
    .padding-medium ol li:nth-child(3)::after {
        content: "New";
        color: red;
        font-size: .7em;
        vertical-align: super;
    }
    .blocks .boxes.gallery-container .box p {
        line-height: 1.6em;
        text-indent: initial;
        color: black;
    }
    .blocks .boxes.gallery-container .box p::first-letter {
        color: black;
    }
    .box.box-work {
        padding: 8px;
    }
    .blocks .gallery-container .box:nth-child(even) {
        background-color: lightgray;
    }
    .mandatory-field::after {
        content: "*";
        color: red;
        font-weight: bold;
    }
    .submit-btn:hover {
        background: rgb(65, 175, 212);
        color: white;
        border-color: transparent;
    }
    .submit-btn {
        background: white;
        color: rgb(65, 175, 212);
        border: 1px solid rgb(65, 175, 212);
        padding: 15px 50px;
        border-radius: 0;
    }
    .contact-form {
        text-align: right;
    }
    .tm-nav-item:hover {
        background:lightgray;
    }
}
