$fontsMain: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$headerBG: url(../img/header_background_v1.jpg);
$headerFontsColor: rgb(236, 236, 236);
$headerBorderColor: rgb(96, 125,139);
$headerFontWeight: 700;
$buttonsBackground: rgb(1, 172, 172);
$fontSize: 15px/24px;
$mainBorderColor: rgb(96, 125,139);
$mainTextColor: rgb(1, 15, 22);
$articlesBackGroundColor: rgb(239, 239, 239);
$postDescriptionTextColor: red;
$postDescriptionBorder: 1px solid rgb(96,125,139);
$headingTextColor: rgb(0, 151, 174);
$buttonTextColor: rgb(214,255,255);
$bodyBackground: white;