$fontsMain: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$headerBG: url(../img/header_background_v2.jpg);
$headerFontsColor: rgb(255, 87, 34);
$headerBorderColor: rgb(207, 216, 220);
$headerFontWeight: 700;
$buttonsBackground: rgb(4, 1, 172);
$fontSize: 18px/26px;
$mainBorderColor: rgb(207, 216,220);
$mainTextColor: rgb(96, 125, 169);
$articlesBackGroundColor: white;
$postDescriptionTextColor: rgb(195, 195, 212);
$postDescriptionBorder: 1px solid rgb(96,125,139);
$headingTextColor: rgb(96, 125, 139);
$buttonTextColor: rgb(214,255,255);
$bodyBackground: rgb(239, 239, 239);