* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background: #efefef; }

header {
  width: 100%;
  height: 100vh;
  background: url(../img/header_background_v2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: #ff5722;
  font-weight: 700; }
  header .logo img {
    height: 200px; }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px; }
    header nav a {
      text-decoration: none;
      padding: 10px 120px;
      color: #ff5722;
      border-right: 2px solid #cfd8dc;
      font-weight: 700; }
      header nav a:last-child {
        border: none; }
  header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 245px; }
    header section .btn.btn-top {
      padding: 10px;
      text-decoration: none;
      background: #0401ac;
      color: #ff5722;
      margin: 15px;
      padding: 15px 60px;
      font-weight: 450; }

main {
  max-width: 950px;
  margin: 0 auto;
  font-size: 0.6923076923;
  color: #607da9; }
  main .toolbar {
    text-align: right;
    padding: 10px; }
    main .toolbar input {
      padding-left: 20px;
      padding-bottom: 7px;
      padding-right: 0px;
      padding-top: 7px;
      border: 1px solid #cfd8dc;
      font-style: bold; }

.post-list h1 {
  text-align: right;
  text-transform: uppercase; }
.post-list article {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  background: white; }
  .post-list article > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .post-list article .post-description {
    Color: #c3c3d4;
    text-align: left;
    border-bottom: 1px solid #607d8b;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 12px; }
  .post-list article h3 {
    text-decoration: uppercase;
    color: #607d8b;
    text-align: left;
    margin: 5px 0px; }
  .post-list article > p {
    line-height: 25px; }
  .post-list article .btn {
    text-transform: uppercase;
    background: #0401ac;
    color: #d6ffff;
    border: none;
    padding: 10px 70px;
    margin-bottom: 40px; }

.about {
  padding: 10px; }
  .about h1 {
    text-align: right;
    text-transform: uppercase; }
  .about p {
    margin-bottom: 25px;
    line-height: 1.8em; }
  .about img {
    width: 100%; }

.contact-form {
  text-align: right; }
  .contact-form h1, .contact-form h4 {
    text-transform: uppercase; }
  .contact-form .box {
    display: flex;
    margin-bottom: 10px; }
  .contact-form .input {
    display: inline-block;
    width: 100%; }
    .contact-form .input:first-child {
      margin-right: 15px; }

form {
  font-size: 0.6923076923;
  color: #607d8b;
  padding-top: 20px; }
  form input, form label, form textarea {
    width: 100%;
    display: block;
    background: #efefef; }
  form input {
    padding: 10px 0px;
    margin-right: 10px; }

footer {
  padding-top: 20px;
  font-size: 15px; }
